@import 'color';

@mixin detail-attribute {
  font-weight: bold;
  font-size: 18px;
}

.card {
  margin: 25px;
  padding: 25px;
  display: flex;

  .card-body{
    order: 2;

    .header {
      margin-bottom: 50px;

      .title {
        font-weight: bold;
        font-size: 30px;
      }

      .subtitle {
        font-weight: bold;
        font-size: 25px;
        color: $nevada-gray;
      }
    }

    .detail {

      .attribute {
        margin-bottom: 30px;

        .label {
          @include detail-attribute;
        }

        .value {
          font-size: 18px;
          color: $nevada-gray;
        }
      }
    }
  }

  .cover-image {
    width: 100%;
    max-width: 350px;
    margin-right: 25px;
  }
}
