@mixin bold-text($font-size) {
  font-weight: bold;
  font-size: $font-size;
}

@mixin box-shadow {
  -webkit-box-shadow: 2px 4px 8px 1px rgba(122,117,122,1);
  -moz-box-shadow: 2px 4px 8px 1px rgba(122,117,122,1);
  box-shadow: 2px 4px 8px 1px rgba(122,117,122,1);
}

@mixin logo-size{
  width: 100%;
  max-width: 212px;
}
