<app-auth-form>
	<form class="login-form">
		<img class= "logo" src="assets/logo.png" alt="Wolox logo">
		<div class="input-elements">
			<label class="label" for="email">Email</label>
			<input type="text" class="input" name="email">
		</div>
		<div class="input-elements">
			<label class="label" for="password">Password</label>
			<input type="password" class="input" name="password">
		</div>
		<div class="form-actions">
			<a href="" class="fill-btn" type=button>Login</a>
		</div>
	</form>
</app-auth-form>
