@import '../../../../../../../../color';
@import '../../../../../../../../utils';

$title-font-size: 16px;

.main-container {
  display: grid;
  background-color: $wild-sand;

  .cards-container {
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    .mini-card {
      width: 100%;
      max-width: 198px;
      margin-bottom: 36px;
      padding: 28px;
      transition: transform 0.2s ease-out;
      @include box-shadow;
  
      .title {
        @include bold-text($title-font-size);
        margin: 8px 0;
      }
  
      .author {
        font-size: 14px;
        color: $nevada-gray;
      }
  
      .title,
      .author{
        overflow: hidden;
        text-overflow: ellipsis;
        width: 142px;
        white-space: nowrap;
      }
  
      .mini-cover-image {
        width: 142px
      }
  
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  .book-search {
    margin: ($navbar-height + 50px) auto 0 auto;
    width: 600px;
  }
}

