/* You can add global styles to this file, and also import other style files */
@import 'equalizer';
@import 'color';
@import 'utils';

$dialog-position-top: 200px;
@import '~ngx-smart-modal/ngx-smart-modal';

.form-actions {
	position: relative;
	margin-bottom: 16px;

	.fill-btn {
		@include fill-green-btn;
		margin-top: 24px;

		&:disabled {
			cursor: not-allowed;
		}
	}
}

.nsm-dialog {
	max-width: 650px;
}

.shopping-cart-modal {

	.empty-cart {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.empty-cart-img {
			width: 180px;
			margin: 50px;
		}

		.empty-cart-title-txt {
			font-weight: bold;
			font-size: 28px;
			margin-bottom: 20px;
		}

		.empty-cart-txt {
			font-size: 18px;
		}
	}

	.nsm-content {
		border-radius: 15px;
		height: 400px;
		padding: 20px;
		overflow-y: auto;

		.nsm-dialog-btn-close {
			top: 15px;
			right: 20px;
		}

		.nsm-body {

			.modal-title {
				font-size: 30px;
			}

			.list-container {
				margin: 25px 0;

				.book-element {
					display: flex;
					padding: 15px 0;
					width: 100%;
					border-bottom: 1px solid $silver-chalice;
					position: relative;

					.book-text {
						font-size: 18px;
						font-weight: 300;
					}

					.delete-img {
						width: 15px;
						height: 15px;
						cursor: pointer;
						position: absolute;
						right: 15px;
						bottom: 18px;
					}
				}
			}
		}
	}
}
