<app-navbar></app-navbar>
<div class="cards-container">
	<div class="mini-card">
		<img class="mini-cover-image" src="assets/book-cover.png" alt="book cover image">
		<p class="title">Título del libro</p>
		<p class="author">Autor del libro</p>   
	</div>
	<div class="mini-card">
		<img class="mini-cover-image" src="assets/book-cover.png" alt="book cover image">
		<p class="title">Título del libro</p>
		<p class="author">Autor del libro</p>   
	</div>
	<div class="mini-card">
		<img class="mini-cover-image" src="assets/book-cover.png" alt="book cover image">
		<p class="title">Título del libro</p>
		<p class="author">Autor del libro</p>   
	</div>
	<div class="mini-card">
		<img class="mini-cover-image" src="assets/book-cover.png" alt="book cover image">
		<p class="title">Título del libro</p>
		<p class="author">Autor del libro</p>   
	</div>
	<div class="mini-card">
		<img class="mini-cover-image" src="assets/book-cover.png" alt="book cover image">
		<p class="title">Título del libro</p>
		<p class="author">Autor del libro</p>   
	</div>
	<div class="mini-card">
		<img class="mini-cover-image" src="assets/book-cover.png" alt="book cover image">
		<p class="title">Título del libro</p>
		<p class="author">Autor del libro</p>   
	</div>
	<div class="mini-card">
		<img class="mini-cover-image" src="assets/book-cover.png" alt="book cover image">
		<p class="title">Título del libro</p>
		<p class="author">Autor del libro</p>   
	</div>
	<div class="mini-card">
		<img class="mini-cover-image" src="assets/book-cover.png" alt="book cover image">
		<p class="title">Título del libro</p>
		<p class="author">Autor del libro</p>   
	</div>
</div>
