@import '../../../color';
@import '../../../utils';
@import '../../../layers';

.nav-bar {
  width: 100%;
  height: 100%;
  max-height: $navbar-height;
  position: fixed;
  top: 0;
  background: white;
  border-top: 6px solid $cerulean;
  z-index: $mid-layer;
  @include box-shadow;

  .content {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo {
      @include logo-size;
    }

    .shopping-cart {
      position: absolute;
      right: 80px;
    }
  }
}
