@import '../../color';
@import '../../utils';

.login-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 300px;
  position: relative;
  background-color: $wild-sand;
  margin-top: 50px;
  padding: 0 25px;
  border-top: 8px solid $cerulean;

  .no-fill-btn {
    @include no-fill-green-btn;
    margin-bottom: 24px;
    margin-top: 16px;
  }
}
