@import '../../color';
@import '../../utils';

.login-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 300px;
  background-color: $wild-sand;
  margin-top: 50px;
  padding: 0 25px;
  border-top: 8px solid $cerulean;

  .no-fill-btn {
    @include no-fill-green-btn;
    margin: 16px 0 24px 0;
	}
	
	.login-form {
		border-bottom: 2px solid $silver-chalice;
	
		.logo {
			@include logo-size;
			margin: 28px auto 0;
			display: block;
		}
	
		.form-actions {
			margin-bottom: 16px;
	
			.fill-btn {
				@include fill-green-btn;
			}
		}
	}
}
